{% extends "layout.html" %}
{% block content %}

<!-- full layout -->
<form method="POST" action="" enctype="multipart/form-data">
    <div class="content-section bg-body-tertiary text-secondary-emphasis border-light-subtle">
        {{ form.hidden_tag() }}  <!-- CRSF secret -->
        <fieldset class="form-group">
            <p>
                <span class="text-info">Target</span>
                <span class="float-end">
                    &nbsp
                    <a href="{{ url_for('main.history') }}"> {{ site }} </a>
                </span>
            </p>
            <div class="mb-3">
                {{ form.target_length.label(class="form-control-label") }}
                {% if form.target_length.errors %}
                {{ form.target_length(class="form-control form-control is-invalid fs-4") }}
                <div class="invalid-feedback">
                    {% for error in form.target_length.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.target_length(class="form-control fs-2 w-50") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.actual_length.label(class="form-control-label") }}
                {% if form.actual_length.errors %}
                {{ form.actual_length(class="form-control form-control is-invalid fs-4") }}
                <div class="invalid-feedback">
                    {% for error in form.actual_length.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.actual_length(class="form-control fs-2 w-50") }}
                {% endif %}
            </div>
        </fieldset>
        <fieldset class="form-group border-light-subtle">
            {% if control %}
                {% if set_ok %}
                    <a class="btn btn-primary" href="{{ url_for('main.set_target') }}">Set</a>
                {% else %}
                    <a class="btn btn-outline-info" href="{{ url_for('main.set_target') }}">Set</a>
                {% endif %}
            <!--
                {% if run_ok %}
                    <a class="btn btn-primary" href="{{ url_for('main.anchor', action='run') }}">Run</a>
                {% else %}
                    <a class="btn btn-outline-info" href="{{ url_for('main.anchor', action='run') }}">Run</a>
                {% endif %}
             -->
            {% else %}
                <a class="btn btn-outline-secondary" href="{{ url_for('main.control', action='info') }}">Set</a>
                <a class="btn btn-outline-secondary" href="{{ url_for('main.control', action='info') }}">Run</a>
                <a class="btn btn-outline-secondary float-end" href="{{ url_for('main.control', action='info') }}">Adjust</a>
            {% endif %}
            {% if control %}
                {{ form.submit(class="btn btn-outline-info float-end") }}
            {% endif %}
        </fieldset>
    </div>

    {% if control %}
    <div class="content-section bg-body-tertiary border-light-subtle">
        <fieldset class="form-group">
            <p class="text-info">Control</p>
            {% if pause_ok %}
                <a class="btn btn-primary" href="{{ url_for('main.anchor', action='pause') }}">Pause &nbsp</a>
            {% else %}
                <a class="btn btn-outline-info" href="{{ url_for('main.anchor', action='pause') }}">Pause &nbsp</a>
            {% endif %}

            {% if run_ok %}
                <a class="btn btn-primary" href="{{ url_for('main.anchor', action='resume') }}">&nbsp &nbsp Run &nbsp &nbsp</a>
            {% elif resume_ok %}
                <a class="btn btn-primary" href="{{ url_for('main.anchor', action='resume') }}">Resume</a>
            {% else %}
                <a class="btn btn-outline-info " href="{{ url_for('main.anchor', action='resume') }}">Resume</a>
            {% endif %}

            {% if direction_img %}
                &nbsp &nbsp &nbsp <img src="{{ direction_img }}" alt="up"> &nbsp
                <!-- &nbsp &nbsp <span class="badge bg-success">{{ direction_txt }}</span> -->
            {% endif %}
            <a class="btn btn-outline-info float-end" href="{{ url_for('main.quit_confirm') }}">&nbsp Quit &nbsp</a>
        </fieldset>
    </div>

    <div class="content-section bg-body-tertiary border-light-subtle">
        <fieldset class="form-group">
            <p>
                <span class="text-info">Manual</span>
                <span class="text-secondary float-end">{{ form.manual_range.data }} m</span>
            </p>
            <div class="mb-3">
                {% if control %}
                    <div class="mb-3">
                        {{ form.manual_range(class="form-range") }}
                    </div>
                {% endif %}
                {% if pause_ok %}
                    <a class="btn btn-outline-info" href="{{ url_for('main.anchor', action='up') }}">Go Up</a>
                    <a class="btn btn-outline-info" href="{{ url_for('main.anchor', action='down') }}">Down</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ url_for('main.anchor', action='up') }}">Go Up</a>
                    <a class="btn btn-primary" href="{{ url_for('main.anchor', action='down') }}">Down</a>
                {% endif %}
                {% if control %}
                    {{ form.submit(class="btn btn-outline-info float-end") }}
                {% endif %}
            </div>

        </fieldset>
    </div>
    {% endif %}
</form>

<!-- stream event listener -->
<script type="text/javascript" charset="utf-8">
    function get_stream() {
        let source = new EventSource("/stream_actual");
        source.onmessage = function (event) {
            // document.getElementById('log').append('<br>stream event' + event.data)
            if (event.data > -1000) {
                document.getElementById("actual_length").value = event.data;
            } else {
                source.close();
                window.location.href = "/";
            }
        }
    }

    get_stream()

</script>

{% endblock content %}
